body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Open Sans';
  font-weight: 400;
  background-color: #fff;
  color: $black-500;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  &--products {
    max-width: 1360px;
  }
}

// a {
//   position: relative;

//   &::after {
//     content: '';
//     position: absolute;
//     top: -10px;
//     left: 0;
//     width: 100%;
//     height: 40px;
//   }
// }

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;

  &__img {
    object-fit: contain;
    object-position: left;
    height: 60px;
    width: 200px;
  }
}

.user-icon {
  width: 32px;
  height: 30px;
}

.btn-animation {
  transition: background-color 0.5s, box-shadow 0.3s, color 0.4s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-900;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
    color: rgba($white, 0.25);

    svg {
      fill: rgba($white, 0.25);
      transition: fill 0.3s;
    }
  }
}

.menu {
  display: flex;

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    outline: transparent;
    position: relative;

    &::after {
      @extend %area;
    }
  }

  &__link:focus {
    box-shadow: 0 0 0 3px $green-100;
    border-radius: 3px;
  }
}

.btn {
  font-size: 18px;
  color: #fff;
  letter-spacing: 0.03em;
  padding: 12px 24px;
  background-color: $green;
  border-radius: 6px;
  outline: transparent;
  transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;
  display: inline-block;

  &--white {
    background-color: transparent;
    color: $green;
    border: 1px solid $green;

    &:focus {
      box-shadow: 0 0 0 4px rgba(99, 166, 14, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba(0, 0, 0, 0.1);
      background-color: transparent;
      color: rgba(99, 166, 14, 0.5);
    }
  }
}

.title {
  font-family: 'Ruda';
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  color: $black;
  text-align: center;
  margin-bottom: 30px;
}

.input {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    top: 14px;
    left: 13px;
    pointer-events: none;
  }

  &__field {
    width: 100%;
    padding: 15px 170px 15px 50px;
    outline: transparent;
    border-radius: 6px;

    &::placeholder {
      color: #31352B;
      letter-spacing: 0.03em;
    }
  }
}

.input-button {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background-color: #31352B;
  padding: 15px 52px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  letter-spacing: 0.03em;
  outline: transparent;

  &:hover {
    background-color: rgba(49, 53, 43, 0.85);
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    outline: transparent;
    position: relative;
    transition: box-shadow 0.4s;
    letter-spacing: 0.03em;
  }
}

.animation {
  border-radius: 6px;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e0edcf;
    transition: width 0.4s;
  }

  &:focus {
    box-shadow: 0 0 0 3px #e0edcf;
    border-radius: 6px;
  }

  &:hover::before {
    width: 100%;
  }

  &:active::before {
    background-color: #E0EDCF;
  }
}

.mixitup-control-active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e0edcf;
  transition: width 0.4s;
}

.social {
  display: flex;

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    border-radius: 3px;
    outline: transparent;
    transition: opacity 0.4s, box-shadow 0.4s;

    &:focus {
      box-shadow: 0 0 0 3px #E0EDCF;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      svg {
        fill: $green-200;
      }
    }
  }

  .social-icon {
    width: 32px;
    height: 32px;
    fill: $white;
  }
}

.product {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
}

.product-card {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 6px;
  max-width: 300px;
  width: 100%;
  padding: 64px 18px 18px 18px;
  display: flex;
  flex-direction: column;
  height: 409px;
  text-align: left;
  position: relative;
  transition: border 0.3s;

  &:hover {
    border: 1px solid $green;
  }

  &__btn {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 17px;
    right: 12px;
    background-color: transparent;
    outline: transparent;
    border-radius: 3px;

    &--heart {

      &:focus {
        box-shadow: 0 0 0 4px $green-200;
      }

      &:hover {
        svg {
          fill: $yellow;
          transition: fill 0.5s;
        }
      }

      &:active {
        svg {
          fill: rgba($yellow, 0.5);
        }
      }
    }
  }

  &__image {
    height: 215px;
    display: block;
    margin-bottom: 18px;
    position: relative;

    &::before,
    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      transition: opacity 0.6s;
    }

    &::before {
      left: -18px;
      width: 298px;
      height: 100%;
      background-color: rgba($black, 0.1);
    }

    &::after {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover::before,
    &:hover::after,
    &:hover .search-icon {
      opacity: 1;
    }
  }

  .search-icon {
    width: 20px;
    height: 20px;
    fill: $green;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.6s;
  }

  &__descr {
    font-weight: 600;
    color: $black;
    font-size: 14px;
    @include clamp;
    margin-bottom: auto;
  }

  &__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: sans-serif;
    margin-top: 10px;
  }

  &__buy-btn {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: $green;
    border-radius: 3px;
    right: 18px;
    bottom: 18px;
    outline: transparent;
  }

  .user-icon {
    width: 32px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--heart {
      fill: $silver;
    }

    &--cart {
      fill: $white;
      width: 16px;
      height: 16px;
    }
  }
}

.price {
  margin-top: auto;
  line-height: 1;
  margin-bottom: 3px;
  position: relative;
  @include clamp;
  -webkit-line-clamp: 1;

  &--old {
    color: $silver;
  }

  &--old::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $silver;
    bottom: 0;
    left: 0;
    transform: rotate(-12deg) translateY(-7px) translateX(2px);
  }
}

.badges {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 70px;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;

  &__item {
    padding: 3px 6px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 6px;

    &--new {
      background-color: $green;
    }

    &--discount {
      background-color: $red;
    }

    &--heat {
      background-color: $orange;
    }
  }
}

.pay {
  display: flex;
  margin-right: -20px;

  &__item {
    width: 93px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}