body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: $white;
  color: $black-500;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  &--products {
    max-width: 1360px;
  }
}

svg {
  fill: $white;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  display: inline-block;

  &__img {
    object-fit: contain;
    object-position: left;
    height: 60px;
    width: 200px;
  }
}

.btn-animation {
  transition: background-color 0.5s, box-shadow 0.3s, color 0.4s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-900;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
    color: rgba($white, 0.25);

    svg {
      fill: rgba($white, 0.25);
      transition: fill 0.3s;
    }
  }
}

.menu {
  display: flex;

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    outline: transparent;
    position: relative;

    &::after {
      @extend %area;
    }
  }
}

.link-animation {
  outline: transparent;
  transition: border-radius 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;

  &:focus {
    box-shadow: 0 0 0 3px $green-100;
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }
}

.btn {
  font-size: 18px;
  color: $white;
  letter-spacing: 0.03em;
  padding: 12px 24px;
  background-color: $green;
  border-radius: 6px;
  outline: transparent;
  transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;
  display: inline-block;

  &--white {
    background-color: transparent;
    color: $green;
    border: 1px solid $green;

    &:focus {
      box-shadow: 0 0 0 4px rgba($green, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
      background-color: transparent;
      color: rgba($green, 0.5);
    }
  }
}

.title {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  color: $black;
  text-align: center;
  margin-bottom: 30px;
}

.input-button {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: $white;
  background-color: $black-800;
  padding: 15px 52px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  letter-spacing: 0.03em;
  outline: transparent;

  &:hover {
    background-color: rgba($black-800, 0.85);
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  &__item {
    margin-right: 24px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    outline: transparent;
    position: relative;
    transition: box-shadow 0.4s;
    letter-spacing: 0.03em;
  }
}

.animation {
  border-radius: 6px;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $green-200;
    transition: width 0.4s;
  }

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 6px;
  }

  &:hover::before {
    width: 100%;
  }

  &:active::before {
    background-color: $green-200;
  }
}

.mixitup-control-active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $green-200;
  transition: width 0.4s;
}

.social {
  display: flex;

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 3px;
    outline: transparent;
    transition: opacity 0.4s, box-shadow 0.4s;

    svg {
      width: 32px;
      height: 32px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      svg {
        fill: $green-200;
      }
    }
  }
}

.product-card {
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px;
  max-width: 300px;
  width: 100%;
  padding: 56px 18px 18px 18px;
  position: relative;
  transition: border 0.3s;
  display: flex;
  flex-direction: column;

  &:hover {
    border: 1px solid $green;
  }

  &__link {
    display: block;
    position: relative;
    margin-bottom: 10px;

    svg {
      width: 20px;
      height: 20px;
      fill: $green;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.6s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      transition: opacity 0.6s;
    }

    &::before {
      left: -18px;
      width: 298px;
      height: 100%;
      background-color: rgba($black, 0.1);
    }

    &::after {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      svg {
        opacity: 1;
      }
    }

    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }

  &__img {
    object-fit: cover;
    height: 225px;
  }

  &__descr {
    font-weight: 600;
    color: $black;
    font-size: 14px;
    height: 63px;
    @include clamp(3);
  }

  &__price {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.btn-chosen {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 17px;
  right: 12px;
  background-color: transparent;
  outline: transparent;
  border-radius: 3px;

  svg {
    width: 32px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $silver;
  }

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    svg {
      fill: $yellow;
      transition: fill 0.5s;
    }
  }

  &:active {
    svg {
      fill: rgba($yellow, 0.5);
    }
  }
}

.btn-basket {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 18px;
  bottom: 18px;
  background-color: $green;
  border-radius: 3px;
  outline: transparent;

  svg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s;
  }
}

.little-card {
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px;
  padding: 12px;
  background-color: $white;
  transition: border 0.3s;
  width: 300px;
  position: relative;

  &:hover {
    border: 1px solid $green;
  }

  &__link {
    display: flex;
  }

  &__img {
    max-width: 98px;
    height: 98px;
    object-fit: cover;
  }

  &__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__descr {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    margin-bottom: auto;
    width: 165px;
    @include clamp(3);
  }

  &__price {
    display: flex;
  }

  &__rating {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 12px;
    right: 8px;
  }

  &__rate {
    color: $black-500;
    line-height: 1;
    font-weight: 700;
  }

  &__star {
    pointer-events: none;

    svg {
      fill: $yellow;
    }
  }

  .price {
    margin-right: 13px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    font-family: sans-serif;

    &--valute {
      font-size: 14px;
    }

    &--old {
      font-size: 12px;
    }
  }
}

.product-status {
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: $green;
  margin-bottom: 5px;

  &--end {
    color: $red;
  }

  &--none {
    color: $silver;
  }
}

.news-card {
  max-width: 410px;
  width: 100%;
  border-radius: 6px;
  position: relative;
  z-index: 2;
  box-shadow: 0 3px 3px rgba($black, 0.25);

  &:hover {
    p {
      color: $green;
      transition: color 0.3s;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width: 65px;
    height: 75px;
    border-radius: 0 0 6px 6px;
    text-transform: uppercase;
    color: $black;
    overflow: hidden;
  }

  &__mounth {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 4px;
    letter-spacing: 0.1em;
  }

  &__day {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }

  &__img {
    object-fit: cover;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 240px;
  }

  &__text {
    padding: 18px;
    color: $black;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    @include clamp(3);
  }
}

.price {
  margin-top: auto;
  line-height: 1;
  margin-bottom: 3px;
  position: relative;
  @include clamp;

  &--old {
    color: $silver;
  }

  &--old::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $silver;
    bottom: 0;
    left: 0;
    transform: rotate(-12deg) translateY(-7px) translateX(2px);
  }
}

.badges {
  position: absolute;
  top: 10px;
  left: 12px;
  width: 70px;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: $white;

  &__item {
    padding: 3px 6px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 6px;

    &--new {
      background-color: $green;
    }

    &--discount {
      background-color: $red;
    }

    &--heat {
      background-color: $orange;
    }
  }
}

.pay {
  display: flex;
  margin-right: -20px;

  &__item {
    width: 93px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}