body {
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: $white;
  color: $black-500;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  &--products {
    max-width: 1360px;
  }
}

svg {
  fill: $white;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.main {
  flex: 1 0 auto;
  padding-top: 160px;

  @include max-w ($md) {
    padding-top: 110px;
  }
}

.footer {
  flex: 0 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.burger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;

  @include max-w($lg) {
    display: block;
  }

  &--mobile {
    margin-right: 10px;

    .burger__row {
      background-color: $black-800;
      width: 0;

      &::after,
      &::before {
        background-color: $black-800;
        width: 25px;
        transform: translateX(-50%);
      }

      &::before {
        transform: rotate(45deg) translate(-3px, 14px);
      }

      &::after {
        transform: rotate(-45deg) translate(0, -18px);
      }
    }
  }

  &__row {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: $white;
    transform: translate(-50%);

    &::after,
    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $white;
      left: 0;
    }

    &::before {
      bottom: 10px;
    }

    &::after {
      top: 10px;
    }
  }
}

.logo {
  display: inline-block;

  @include max-w ($md) {
    height: 60px;
    width: 120px;
    padding-top: 9px;
  }

  &--menu {
    width: 200px;
    padding-top: 0;
  }

  &--footer {
    display: block;
    width: 200px;

    @include max-w ($xl) {
      display: flex;
      justify-content: center;
    }
  }

  &__img {
    object-fit: contain;
    object-position: left;
    width: 200px;
  }
}

.btn-animation {
  outline: transparent;
  transition: background-color 0.5s, box-shadow 0.3s, color 0.4s;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    background-color: $green-900;
  }

  &:active {
    box-shadow: inset 0 4px 4px rgba($black, 0.25);
    color: rgba($white, 0.25);

    svg {
      fill: rgba($white, 0.25);
      transition: fill 0.3s;
    }
  }
}

.link-animation {
  outline: transparent;
  transition: border-radius 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;

  &:focus {
    box-shadow: 0 0 0 3px $green-100;
    border-radius: 3px;
  }

  &:hover {
    opacity: 0.7;
  }

  &:active {
    color: $green-200;
  }
}

.btn {
  font-size: 18px;
  color: $white;
  letter-spacing: 0.03em;
  padding: 11px 24px;
  background-color: $green;
  border-radius: 6px;
  transition: box-shadow 0.4s, background-color 0.4s, color 0.4s;
  display: inline-block;

  &--slide {
    @include max-w ($md) {
      font-size: 14px;
    }
  }

  &--white {
    background-color: transparent;
    color: $green;
    border: 1px solid $green;

    &:focus {
      box-shadow: 0 0 0 4px rgba($green, 0.5);
    }

    &:hover {
      background-color: $green-100;
    }

    &:active {
      box-shadow: inset 0 10px 4px rgba($black, 0.1);
      background-color: transparent;
      color: rgba($green, 0.5);
    }
  }
}

.title {
  font-family: 'Ruda', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 32px;
  color: $black;
  text-align: center;
  margin-bottom: 30px;

  @include max-w ($md) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}

.menu {
  display: flex;

  @include max-w($lg) {
    display: none;
  }

  &--mobile {
    @include max-w($lg) {
      display: block;
    }

    .menu__item {
      margin-bottom: 15px;
    }

    .menu__link {
      display: block;
    }
  }

  &__item {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    outline: transparent;
    position: relative;

    &::after {
      @extend %area;
    }
  }
}

.input-button {
  position: absolute;
  right: 0;
  top: 0;
  text-transform: uppercase;
  font-weight: 600;
  color: $white;
  background-color: $black-800;
  padding: 15px 52px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  letter-spacing: 0.03em;

  @include max-w($xl) {
    padding: 15px 32px;
  }

  @include max-w($md) {

    &--mobile {
      border-radius: 0;
      padding: 14px 25px;
    }
  }

  &:hover {
    background-color: rgba($black-800, 0.85);
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  @include max-w ($md) {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }

  &__item {
    margin-left: 24px;

    @include max-w ($md) {
      margin-bottom: 15px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    outline: transparent;
    position: relative;
    transition: box-shadow 0.4s;
    position: relative;

    &::after {
      @extend %area;
    }
  }
}

.animation {
  border-radius: 6px;

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $green-200;
    transition: width 0.4s;
  }

  &:focus {
    box-shadow: 0 0 0 3px $green-200;
    border-radius: 6px;
  }

  &:hover::before {
    width: 100%;
  }

  &:active::before {
    background-color: $green-200;
  }
}

.mixitup-control-active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: $green-200;
  transition: width 0.4s;
}

.product-card {
  max-width: 300px;
  width: 100%;
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px;
  padding: 56px 18px 18px;
  transition: border 0.3s;
  position: relative;
  transition: all 0.4s;

  &.product-card--row {
    transition: all 0.4s;
    max-width: 466px;
    padding: 14px 18px 9px 12px;

    @include max-w ($md) {
      max-width: 340px;
    }

    @include max-w ($sm) {
      max-width: 290px;
    }

    .product-card__wrapper-content {
      display: flex;
    }

    .product-card__wrapper-info {
      width: 200px;
      margin-right: 20px;

      @include max-w ($md) {
        width: 160px;
      }
    }

    .product-card__wrapper-status {
      margin-bottom: 16px;

      @include max-w ($sm) {
        margin-bottom: 5px;
      }
    }

    .product-card__link {
      width: 200px;
      height: 140px;
      margin-right: 10px;

      @include max-w ($md) {
        width: 100px;
      }

      @include max-w ($md) {
        width: 90px;
      }

      &::before {
        width: 198px;
        left: 0;

        @include max-w ($md) {
          width: 98px;
        }

        @include max-w ($md) {
          width: 88px;
        }
      }
    }

    .product-card__img {
      height: 140px;
      width: 100%;
    }

    .product-card__descr {

      @include max-w ($md) {
        margin-bottom: 40px;
      }
    }

    .product-card__price {
      left: 223px;
      bottom: 12px;

      @include max-w ($md) {
        left: 115px;
      }

      @include max-w ($md) {
        left: 103px;
      }
    }

    .btn-chosen {
      right: 16px;
      top: 66px;

      @include max-w ($md) {
        right: 6px;
      }
    }

    .btn-basket {
      bottom: 12px;
    }

    .little-card__rating {
      margin-right: -25px;
    }

    .badges {
      top: 6px;
      left: 7px;
    }
  }

  @include max-w ($md) {
    max-width: 170px;
    padding: 56px 12px 12px;
  }

  @include max-w ($xs) {
    max-width: 146px;
  }

  &:hover {
    border: 1px solid $green;
  }

  &__wrapper-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    margin-top: -3px;

    @include max-w ($md) {
      margin-top: -9px;
    }

    @include max-w ($xs) {
      margin-top: -3px;
    }
  }

  &__link {
    position: relative;
    display: block;
    margin-bottom: 10px;
    height: 225px;
    width: 100%;

    &--catalog {
      height: 215px;
      margin-bottom: 0;
    }

    @include max-w ($md) {
      height: 132px;
    }

    @include max-w ($xs) {
      height: 115px;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $green;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      transition: opacity 0.6s;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      transition: opacity 0.6s;
    }

    &::before {
      left: -18px;
      width: 298px;
      height: 100%;
      background-color: rgba($black, 0.1);

      @include max-w ($md) {
        width: 168px;
        left: -12px;
      }

      @include max-w ($xs) {
        width: 144px;
      }
    }

    &::after {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: $white;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      svg {
        opacity: 1;
      }

      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  &__img {
    object-fit: contain;
    padding-top: 10px;
    height: 215px;

    @include max-w ($md) {
      height: 126px;
    }

    @include max-w ($xs) {
      height: 115px;
    }
  }

  &__descr {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    @include clamp(3);
    margin-bottom: 40px;

    @include max-w ($md) {
      margin-bottom: 70px;
      @include clamp(3);
    }
  }

  &__price {
    margin-top: 5px;
    position: absolute;
    left: 20px;
    bottom: 12px;
  }
}

.btn-chosen {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 15px;
  right: 10px;
  background-color: transparent;
  outline: transparent;
  border-radius: 3px;

  @include max-w($md) {
    width: 44px;
    height: 44px;
    top: 5px;
    right: 0;
  }

  svg {
    width: 32px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: $silver;

    @include max-w($md) {
      width: 24px;
      height: 21px;
    }
  }

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
  }

  &:hover {
    svg {
      fill: $yellow;
      transition: fill 0.5s;
    }
  }

  &:active {
    svg {
      fill: rgba($yellow, 0.5);
    }
  }
}

.btn-basket {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 16px;
  bottom: 18px;
  background-color: $green;
  border-radius: 3px;
  outline: transparent;

  @include max-w($md) {
    bottom: 12px;
    right: 12px;
  }

  &::after {
    @extend %area;
    width: 45px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  svg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s;
  }
}

.little-card {
  border: 1px solid rgba($black, 0.2);
  border-radius: 6px;
  padding: 12px;
  background-color: $white;
  transition: border 0.3s;
  width: 300px;
  position: relative;

  &:hover {
    border: 1px solid $green;
  }

  &__link {
    display: flex;
  }

  &__img {
    max-width: 98px;
    height: 98px;
    object-fit: cover;
  }

  &__info {
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__descr {
    font-size: 14px;
    font-weight: 600;
    color: $black;
    margin-bottom: auto;
    width: 165px;
    @include clamp(3);
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    margin-top: 5px;
  }

  &__price-num {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    margin-right: 13px;

    &:last-child {
      margin-right: 0;
    }

    &--old {
      font-size: 12px;
      position: relative;
      color: $silver;

      &::before {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: $silver;
        bottom: 0;
        left: 0;
        transform: rotate(-12deg) translateY(-7px) translateX(2px);
      }
    }
  }

  &__rating {
    display: flex;
    align-items: center;

    &--catalog {
      margin-right: -7px;

      @include max-w ($sm) {
        font-size: 10px;
      }
    }
  }

  &__rate {
    color: $black-500;
    line-height: 1;
    font-weight: 700;
  }

  &__star {
    pointer-events: none;

    svg {
      fill: $yellow;
    }
  }
}

.product-status {
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: $green;

  &--end {
    color: $red;
  }

  &--none {
    color: $silver;
  }

  &--catalog {
    
    @include max-w ($sm) {
      font-size: 8px;
    }
  }
}

.news-card {
  display: block;
  max-width: 410px;
  width: 100%;
  border-radius: 6px;
  box-shadow: 0 3px 3px rgba($black, 0.25);
  position: relative;

  &:hover .news-card__title {
    color: $green;
  }

  &__link {
    width: 100%;
    height: 100%;
    display: block;
  }

  &__date {
    position: absolute;
    top: 0;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    width: 65px;
    height: 75px;
    border-radius: 0 0 6px 6px;
    text-transform: uppercase;
    color: $black;
    overflow: hidden;
  }

  &__mounth {
    font-size: 10px;
    font-weight: 700;
    margin-bottom: 4px;
    letter-spacing: 0.1em;
  }

  &__day {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1;
  }

  &__img {
    display: block;
    border-radius: 6px 6px 0 0;
    width: 100%;
    height: 240px;
    object-fit: cover;

    @include max-w ($sm) {
      height: 200px;
    }
  }

  &__title {
    padding: 18px;
    color: $black;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
    @include clamp(4);
    letter-spacing: 0;
    transition: color 0.3s;

    @include max-w ($sm) {
      font-size: 14px;
      line-height: 1.4;
      padding: 15px;
    }
  }
}

.price {
  display: block;
  line-height: 1;
  margin-bottom: 3px;
  position: relative;
  @include clamp;

  &--old {
    color: $silver;
  }

  &--old::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: $silver;
    bottom: 0;
    left: 0;
    transform: rotate(-12deg) translateY(-7px) translateX(2px);
  }
}

.price-valute {
  font-size: 14px;
}

.badges {
  position: absolute;
  z-index: 8;
  top: 10px;
  left: 12px;
  width: 70px;
  font-weight: 700;
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  color: $white;

  &__item {
    padding: 3px 6px;
    border-radius: 6px;
    display: inline-block;
    margin-bottom: 6px;

    &--new {
      background-color: $green;
    }

    &--discount {
      background-color: $red;
    }

    &--heat {
      background-color: $orange;
    }
  }
}

.pay {
  display: flex;
  margin-left: 20px;

  @include max-w ($sm) {
    margin-bottom: 25px;
    margin-left: 0;
  }

  &__item {
    width: 93px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    &--mc {
      width: 49px;
    }
  }
}

.social {
  display: flex;

  &--footer {
    @include max-w ($sm) {
      justify-content: center;
      margin-right: 15px;
    }
  }

  &__item {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 3px;
    outline: transparent;
    transition: opacity 0.4s, box-shadow 0.4s;
    position: relative;

    &::after {
      @extend %area;
      left: -6px;
      top: -7px;
    }

    svg {
      width: 32px;
      height: 32px;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      opacity: 0.7;
    }

    &:active {
      svg {
        fill: $green-200;
      }
    }
  }
}

.address {

  &--footer {
    @include max-w ($xl) {
      margin-bottom: 55px;
      margin-left: 24px;
    }
  }

  &--mobile {
    color: $black-800;
    width: 270px;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 48px;
    width: 100%;
    position: relative;
    padding-left: 15px;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: rgba($silver, 0.3);
      left: 0;
      bottom: -24px;
    }

    svg {
      fill: $black-800;
    }

    .address__link {
      padding: 15px 40px;
      margin-bottom: 0;

      svg {
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
      }
    }

    .address__text {
      position: relative;
      padding-left: 40px;

      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/icons/icon-marker.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 24px;
        height: 32px;
        left: 0;
        top: 2px;
      }
    }
  }

  &__info {
    letter-spacing: 0;
    margin-bottom: 18px;
  }

  &__link {
    display: block;
    margin-bottom: 18px;
    @include clamp(2);
    position: relative;

    &::after {
      @extend %area;
    }
  }

  &__text {
    width: 230px;
    @include clamp(2);
  }
}

.mobile-menu {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  max-width: 320px;
  width: 100%;
  height: 100vh;
  padding: 24px 0;
  font-size: 18px;
  line-height: 1.2;
  transform: translateX(-200%);
  transition: transform 0.5s;
  overflow-y: scroll;
  background-color: $white;
  display: none;

  @include max-w($lg) {
    display: block;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 15px;
  }

  &__box {
    position: relative;
    background-color: $green;
    padding: 13px 0;
    padding-left: 50px;

    &::before {
      position: absolute;
      content: '';
      background-image: url(../images/icons/icon-user.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 9px;
      left: 11px;
      width: 25px;
      height: 32px;
    }

  }

  &__bottom {
    padding-left: 15px;
  }

  &__link {
    padding: 15px 0 15px 50px;
    display: block;
    border-bottom: 1px solid rgba($silver, 0.3);
    position: relative;

    svg {
      position: absolute;
      width: 24px;
      height: 20px;
      fill: $black-800;
      left: 15px;
    }
  }

  &--active {
    transform: translateX(0);
  }
}

.entry__link {
  color: $white;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1;

  &:last-child {
    padding-right: 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 1px;
      height: 20px;
      background-color: $white;
      left: -9px;
    }
  }
}

.tel {
  position: relative;

  &::after {
    @extend %area;
  }
}

//

.filter {

  &__title {
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
  }

  &__item {
    margin-bottom: 30px;
    transition: margin-bottom 0.5s;

    &:last-child {
      margin-bottom: 0;
    }

    &--active {
      margin-bottom: 30px;
    }
  }

  &__btn {
    padding: 18px 0;
    text-align: left;
    padding-left: 18px;
    width: 300px;
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    color: $black;
    border: 1px solid $silver;
    border-radius: 6px;
    transition: border-radius 0.4s;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icons/icon-chevron.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 11px;
      height: 18px;
      top: 24px;
      right: 24px;
      transform: rotate(90deg);
      transition: transform 0.3s;
    }
  }

  &__label {
    padding-left: 35px;
    margin-bottom: 12px;
    display: block;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &::after {
      @extend %area;
    }
  }

  &__input {
    @extend %cb;

    &:checked+.filter__checkbox {
      background-image: url(../images/icons/icon-checked.svg);
      background-repeat: no-repeat;
      background-size: 12px;
      background-position: center;
      border-color: $black-500;
    }

    &:hover+.filter__checkbox {
      border-color: $black-500;
    }
  }

  &__checkbox {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    background-color: $silver-100;
    border-radius: 3px;
    border: 1px solid $silver;
    transition: border-color 0.3s;
  }

  &__text {
    font-size: 18px;
    line-height: 1.2;
  }
}

.pagination {
  display: flex;
  align-items: center;

  @include max-w ($md) {
    margin-top: 25px;
  }

  &__prev {

    svg {
      transform: rotate(-180deg);
    }
  }

  &__list {
    display: flex;
    margin: 0 6px;
  }

  &__item {
    margin-right: 6px;
    width: 48px;
    height: 48px;

    @include max-w ($md) {

      &:nth-child(2),
      &:nth-child(4) {
        display: none;
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: $silver-100;
    color: $black-500;
    font-size: 18px;
    line-height: 1;
    border-radius: 3px;
    border: 1px solid transparent;
    outline: transparent;
    transition: border-color 0.4s, box-shadow 0.4s;

    svg {
      width: 18px;
      height: 18px;
      fill: $black-500;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
      border: none;
    }

    &:hover {
      border-color: $silver;
    }

    &:active {
      box-shadow: inset 0 4px 4px rgba($black, 0.25);
    }

    &--active {
      border: 1px solid $black-500;
    }

    &--disabled {

      svg {
        fill: $silver;
      }
    }
  }
}