$title: #121212;
$red: #CF3E3B;
$green: #63A60E;
$text: #505050;
$orange: #ff7a00;
$green-100: #eff6e7;


%opensans-400 {
  font-family: 'Open Sans';
  font-weight: 400;
}

%opensans-600 {
  font-family: 'Open Sans';
  font-weight: 600;
}

%opensans-700 {
  font-family: 'Open Sans';
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda';
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda';
  font-weight: 700;
}

%ruda-900 {
  font-family: 'Ruda';
  font-weight: 900;
}

%signika-700 {
  font-family: 'Signika';
  font-weight: 700;
}