$title: #121212;
$red: #CF3E3B;
$green: #63A60E;
$text: #505050;


%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%opensans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

%ruda-600 {
  font-family: 'Ruda-SemiBold', sans-serif;
  font-weight: 600;
}

%ruda-700 {
  font-family: 'Ruda-Bold', sans-serif;
  font-weight: 700;
}

%ruda-900 {
  font-family: 'Ruda-ExtraBold', sans-serif;
  font-weight: 900;
}

%signika-700 {
  font-family: 'Signika-Bold', sans-serif;
  font-weight: 700;
}