$green-900: #4d800c;
$green: #63a60e;
$green-200: #e0edcf;
$green-100: #eff6e7;

$black: #121212;
$black-800: #31352b;
$black-500: #505050;

$white: #fff;
$silver: #c1c1c1;
$silver-100: #f6f6f6;

$red: #cf3e3b;
$orange: #ff7a00;
$yellow: #ffb800;

@mixin clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

%area {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 40px;
}

$xl: 1400px;

@mixin max-w($xl) {
  @media (max-width: $xl) {
    @content;
  }
}