$green-900: #4d800c;
$green: #63a60e;
$green-200: #e0edcf;
$green-100: #eff6e7;

$black: #121212;
$black-800: #31352b;
$black-500: #505050;

$white: #fff;
$silver: #c1c1c1;
$silver-100: #f6f6f6;

$red: #cf3e3b;
$orange: #ff7a00;
$yellow: #ffb800;

@mixin clamp($row: 1) {
  @if $row <=1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  @else {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
  }
}

%area {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  height: 45px;
}

$xl: 1400px;

@mixin max-w($xl) {
  @media (max-width: $xl) {
    @content;
  }
}