@import 'fonts';
@import 'vars';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  transition: transform 0.3s;

  &__top {
    background-color: $black-800;
    color: $white;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px 0 15px;

    @include max-w ($lg) {
      padding: 0;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__address {
    display: flex;
    align-items: center;
  }

  &__address-link {
    padding-left: 40px;
    transition: opacity 0.4s, color 0.4s;
    margin-right: 45px;
    outline: transparent;
    position: relative;

    @include max-w ($lg) {
      font-size: 0;
      width: 45px;
      height: 45px;
      margin-right: 15px;
    }

    svg {
      position: absolute;
      width: 32px;
      height: 22px;
      fill: $white;
      left: 0;
      bottom: 0;

      @include max-w ($lg) {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &::after {
      @extend %area;
    }

    &:active {

      svg {
        fill: $green-200;
      }
    }
  }

  &__btn {
    background-color: $white;
    color: $green;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 15px 50px 15px 67px;
    border-radius: 6px;
    position: relative;
    transition: border-radius 0.4s, background-color 0.4s;

    &:hover {
      background-color: $green-200;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      background-image: url(../images/icons/icon-select-nav.svg);
      width: 25px;
      height: 17px;
      left: 18px;
    }

    &::after {
      background-image: url(../images/icons/icon-select-arrow.svg);
      width: 10px;
      height: 10px;
      right: 17px;
      transition: transform 0.3s;
    }
  }

  &__catalog {
    position: relative;
    z-index: 3;
    margin-left: 22px;

    @include max-w($xl) {
      margin-left: 0;
    }

    @include max-w($lg) {
      display: none;
    }

    &--active {

      .header__btn {
        background-color: $green-200;
        border-radius: 6px 6px 0 0;

        &::after {
          transform: rotate(180deg) translateY(50%);
        }
      }

      .header__list {
        transform: translateY(0);
      }
    }
  }

  &__list {
    position: absolute;
    width: 240px;
    top: 49px;
    left: 0px;
    z-index: 3;
    transform: translateY(-150%);
  }

  &__item {
    background-color: $white;
    border: 1px solid rgba($silver, 0.3);
    border-top: none;

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
  }

  &__link {
    display: block;
    padding: 15px 24px;
    color: $black;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    outline: transparent;

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: 25px;
      transform: translateY(-50%);
      width: 3px;
      height: 0;
      background-color: $green;
      transition: height 0.3s;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green;
    }

    &:hover::before {
      height: 50px;
    }
  }

  &__bottom {
    background-color: $green;
    padding: 25px 0;

    @include max-w ($md) {
      padding: 0;
    }
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    max-width: 576px;
    width: 100%;
    margin-left: auto;
    margin-right: 45px;
    position: relative;

    @include max-w($xl) {
      max-width: 325px;
      margin-right: 0;
    }

    @include max-w ($md) {
      position: absolute;
      right: 0;
      top: 109px;
      z-index: 10;
      max-width: 100%;
      border: 1px solid $black-800;
      // не понял кому надо было задавать overflow-x hidden, чтобы скролла не появлялось при translatex 100%
      transform: translateX(-101%);
      transition: transform 0.5s;

      &--active {
        transform: translate(0);
      }
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icons/icon-search.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 20px;
      height: 20px;
      top: 14px;
      left: 13px;
      pointer-events: none;
    }
  }

  &__form-field {
    width: 100%;
    padding: 15px 170px 15px 50px;
    border-radius: 6px;
    outline: transparent;
    transition: box-shadow 0.3s;

    @include max-w($xl) {
      padding: 15px 120px 15px 50px;
    }

    @include max-w ($md) {
      border-radius: 0;
      height: 47px;
      padding: 14px 120px 14px 45px;
    }

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &::placeholder {
      color: $black-800;
      letter-spacing: 0.03em;
    }
  }
}

.header.hide {
  transform: translateY(-200%);
}

.user-nav {
  display: flex;

  &__item {
    margin-right: 15px;

    @include max-w($md) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &--chosen,
    &--user {
      @include max-w($md) {
        display: none;
      }
    }
  }

  &__item-search {
    display: none;

    @include max-w($md) {
      display: block;
    }

  }

  &__link {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 3px;
    outline: transparent;

    svg {
      position: absolute;
      width: 32px;
      height: 32px;
      fill: $white;
      transform: translate(-50%, -50%);

      @include max-w($xl) {
        width: 24px;
        height: 24px;
      }
    }

    &:focus {
      box-shadow: inset 0 0 0 3px $green-100;
    }

    &:hover {
      background-color: rgba($white, 0.1);
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__num {
    position: absolute;
    font-weight: 600;
    padding: 4px 3px;
    background-color: $white;
    border-radius: 12px;
    left: 3px;
    top: 3px;
    color: $red;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.hero {

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 140px;

    @include max-w($md) {
      height: 420px;
      padding-top: 60px;
    }

    @include max-w($sm) {
      height: 320px;
    }
  }

  &__item {
    background-color: rgba($white, 0.8);
    padding: 24px;
    border-radius: 4px;
    max-width: 1290px;
    margin: 0 auto;

    @include max-w($md) {
      padding: 15px;
      border-radius: 0;
    }
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 12px;
    max-width: 770px;
    @include clamp(3);

    @include max-w($lg) {
      font-size: 42px;
    }

    @include max-w($md) {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    @include max-w($sm) {
      font-size: 20px;
    }
  }

  &__discount {
    color: $red;
    display: block;
  }

  &__text {
    margin-bottom: 32px;
    font-size: 16px;
    @include clamp(2);

    @include max-w($lg) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    @include max-w($md) {
      margin-bottom: 28px;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    outline: transparent;
    width: 60px;
    height: 60px;
    transition: box-shadow 0.4s, background-color 0.4s;

    svg {
      width: 19px;
      height: 32px;
      fill: $black-500;
      transform: translateY(2px);
      transition: fill 0.4s;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($green, 0.5);
    }

    &:hover {
      background-color: $green-200;

      svg {
        fill: $green;
      }
    }

    &:active {
      background-color: rgba($white, 0.8);
      transition: 0s;

      svg {
        fill: $green;
      }
    }

    &--next {
      right: 60px;
    }

    &--prev {
      left: 60px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    font-size: 0;
    margin-left: 20px;
  }

  .slick-dots li {
    margin-right: 13px;
  }

  .slick-dots button {
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $silver;
  }

  .slick-active button {
    background-color: $green;
    border: $green;
  }
}

.advantage {
  padding: 50px 0 30px;
  background-color: $silver-100;

  @include max-w($lg) {
    padding: 33px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;

    @include max-w($lg) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include max-w($md) {
      justify-content: flex-start;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding-left: 75px;
    margin: 0 33px;

    @include max-w($lg) {
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include max-w($md) {
      margin: 0 30px 30px 0;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 50px;
      height: 50px;
    }

    &--scooter::before {
      background-image: url(../images/icons/icon-scooter.svg);
    }

    &--return::before {
      background-image: url(../images/icons/icon-return.svg);
    }

    &--support::before {
      background-image: url(../images/icons/icon-support.svg);
    }
  }

  &__title {
    font-weight: 600;
    color: $black;
    font-size: 16px;
    margin-bottom: 6px;
    display: inline-block;
    width: 190px;
    @include clamp(3);
  }

  &__text {
    width: 180px;
    @include clamp(2);

    @include max-w($md) {
      width: 100%;
    }
  }
}

.top-products {
  padding: 70px 0;
  text-align: center;

  @include max-w ($md) {
    padding: 45px 0;
  }

  &__inner {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 18px;

    @include max-w ($md) {
      margin: 0 -15px 20px;
    }

    @include max-w ($sm) {
      margin: 0 -15px 20px;
    }
  }

  &__item {
    margin: 0 15px 30px 15px;
    display: flex;

    @include max-w ($md) {
      margin: 0 10px 20px;
    }

    @include max-w ($sm) {
      margin: 0 2px 4px;
    }
  }
}

.offer {
  padding-bottom: 72px;

  @include max-w ($lg) {
    padding-bottom: 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include max-w ($xl) {
      flex-wrap: wrap;
      justify-content: center;
      max-width: 680px;
      margin: 0 auto;
    }

    @include max-w ($md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    border-radius: 6px;
    padding: 78px 30px 30px;
    line-height: 1;
    text-transform: uppercase;
    transition: color 0.3s, text-shadow 0.3s;

    @include max-w ($xl) {
      margin: 0 7px 15px;
      max-width: 310px;
    }

    @include max-w ($md) {
      margin: 0 0 15px 0;
      max-width: 630px;
    }

    @include max-w ($sm) {
      padding: 78px 15px 30px;
    }

    &--long {
      max-width: 630px;
      color: $white;
      text-shadow: 2px 2px 0 rgba($black, 0.25);

      .offer__title {
        max-width: 360px;

        @include max-w ($md) {
          max-width: 250px;
        }
      }

      .offer__link::before {
        background-color: $white;
      }
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    @include clamp;
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 1.4;
    max-width: 160px;
    @include clamp(3);

    @include max-w ($md) {
      font-size: 24px;
      margin-bottom: 70px;
    }
  }

  &__link {
    font-weight: 700;
    position: relative;
    outline: transparent;
    padding: 7px 2px;
    border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black-500;
      transition: background-color 0.3s;
    }

    &::after {
      @extend %area;
    }

    &:focus::before {
      content: none;
    }
  }
}

.promotion {
  padding: 72px 0;
  background-color: $silver-100;
  text-align: center;

  @include max-w ($lg) {
    padding: 48px 0;
  }

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 15px;

    @include max-w ($lg) {
      margin-bottom: 10px;
    }
  }

  &__item {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 30px;
    display: flex;

    @include max-w ($lg) {
      margin: 0 7px 15px 7px;
    }
  }
}

.brands {
  padding: 72px 0;

  @include max-w ($lg) {
    padding: 48px 0;
  }

  &__slide {
    opacity: 0.5;
    transition: opacity 0.4s;
    margin-left: 70px;
    margin-right: 70px;

    @include max-w ($md) {
      margin-left: 45px;
    }

    @include max-w ($sm) {
      margin-left: 55px;
    }

    @include max-w ($xs) {
      margin-left: 35px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    object-fit: contain;
    max-height: 58px;
  }

  .slick-slider .slick-track {
    display: flex;
    align-items: center;
  }
}

.news {
  padding-bottom: 72px;

  @include max-w ($xl) {
    padding-bottom: 48px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include max-w ($sm) {
      flex-direction: column;
      align-items: start;
      margin-bottom: 25px;
    }
  }

  &__title {
    margin-bottom: 0;

    @include max-w ($sm) {
      margin-bottom: 12px;
    }
  }

  &__link {
    color: $green;
    line-height: 1.3;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    border-radius: 3px;
    outline: transparent;
    transition: color 0.3s, box-shadow 0.3s, background-color 0.3s;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:hover {
      color: $green-900;
    }

    &:hover::before {
      background-color: $green-900;
    }

    &:active::before {
      background-color: $green-200;
    }

    &:focus:active {
      box-shadow: none;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: -4px;
      height: 2px;
      width: 100%;
      background-color: $green;
    }

    &::after {
      @extend %area;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @include max-w ($xl) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    max-width: 410px;
    width: 100%;

    @include max-w ($xl) {
      margin: 0 7px 15px 7px;
    }

    @include max-w ($md) {
      margin: 0;
      margin-bottom: 15px;
    }
  }
}

.footer {
  background-color: $black-800;
  color: $white;
  padding-top: 30px;
  position: relative;

  @include max-w ($sm) {
    padding-top: 25px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 77px;
    height: 1px;
    width: 100%;
    background-color: rgba($white, 0.1);

    @include max-w ($sm) {
      bottom: 123px;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 30px;

    @include max-w ($xl) {
      flex-direction: column-reverse;
      align-items: center;
      padding-bottom: 0;
      overflow-x: hidden;
    }

    @include max-w ($sm) {
      padding-bottom: 25px;
    }
  }

  &__form-wrapper {
    margin-right: 75px;
    margin-bottom: 20px;

    @include max-w ($xl) {
      margin-right: 0;
      margin-bottom: 0;
    }
  }

  &__descr {
    line-height: 1;
    margin-bottom: 18px;
    @include clamp(2);
  }

  &__form {
    max-width: 306px;
    width: 100%;
    position: relative;
  }

  &__form-field {
    height: 40px;
    width: 100%;
    padding: 11px 140px 12px 12px;
    border-radius: 6px;
    outline: transparent;
    transition: box-shadow 0.3s;

    &:focus {
      box-shadow: 0 0 0 4px $green-200;
    }

    &::placeholder {
      color: $black-500;
      letter-spacing: 0.03em;
    }
  }

  &__form-button {
    padding: 12px 16px;
    background-color: $green;
    font-size: 12px;
    font-weight: 700;
    height: 40px;

    &:hover {
      background-color: $green-900;
    }
  }

  &__list {
    column-count: 3;
    column-gap: 75px;
    column-width: 135px;

    @include max-w ($xl) {
      column-gap: 150px;
      margin-bottom: 30px;
    }

    @include max-w ($lg) {
      column-gap: 40px;
      column-count: 2;
      margin-right: -65px;
    }
  }

  &__item {
    margin-bottom: 18px;
  }

  &__link {
    @include max-w ($xl) {
      padding: 13px 3px;
    }
  }

  &__copy {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 0;

    @include max-w ($sm) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 30px 0 24px;
    }
  }
}



.breadcrumbs {
  padding: 24px 0;
  background-color: $silver-100;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-right: 6px;
    padding-right: 10px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 5px;
      width: 6px;
      height: 10px;
      background-image: url(../images/icons/icon-chevron.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    &:last-child {
      margin-right: 0;

      &::before {
        display: none;
      }
    }
  }

  &__link {
    line-height: 1.2;
  }
}

.product-catalog {
  padding: 40px 0 72px;

  @include max-w ($md) {
    padding: 30px 0 35px;
  }

  &__title {
    text-align: left;
    font-size: 42px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 48px;
    text-transform: unset;

    @include max-w ($sm) {
      font-size: 30px;
      margin-bottom: 30px;
    }
  }

  &__inner {
    display: flex;
  }

  &__filters {
    width: 300px;
    margin-right: 30px;

    @include max-w ($lg) {
      display: none;
    }

    &--mobile {

      @include max-w ($lg) {
        position: absolute;
        display: block;
      }
    }
  }

  &__content {
    width: 100%;
  }

  &__category {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 48px;

    @include max-w ($lg) {
      justify-content: flex-start;
    }

    @include max-w ($md) {
      margin-bottom: 30px;
    }
  }

  &__select {
    margin-left: 13px;

    @include max-w ($sm) {
      margin-left: 10px;
    }
  }

  &__buttons {
    display: flex;

    @include max-w ($lg) {
      display: none;
    }
  }

  &__btn {
    width: 47px;
    height: 47px;
    background-color: $silver-100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    position: relative;

    svg {
      fill: $silver;
      width: 35px;
      height: 35px;
    }

    &--active {

      svg {
        fill: $green;
      }
    }

    &--filter {
      display: none;
      margin-left: 0;

      svg {
        fill: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include max-w ($lg) {
        display: block;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 18px;

    @include max-w ($xl) {
      justify-content: center;
      margin: 0 -15px 19px;
    }
  }

  &__item {
    display: flex;
    margin-bottom: 30px;

    @include max-w ($xl) {
      margin: 0 7px 15px;
    }

    @include max-w ($sm) {
      margin: 0 3px 5px;
    }

    @include max-w ($xs) {
      margin: 0 5px 10px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-w ($md) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
  }

  .jq-selectbox__select {
    height: 47px;
    padding: 15px 42px 15px 12px;
    border: 1px solid $silver;
    border-radius: 3px;
    background: none;
    box-shadow: none;
    text-shadow: none;
    font: unset;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: $black-500;
    transition: border-color 0.3s, border-radius 0.3s;

    @include max-w ($sm) {
      padding: 16px 25px 16px 6px;
    }
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border-color: $black-500;
    border-radius: 3px 3px 0 0;
  }

  .jq-selectbox__trigger {
    border: none;
  }

  .jq-selectbox__trigger-arrow {
    border: none;
    background-image: url(../images/icons/icon-chevron.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12px;
    height: 12px;
    top: 20px;
    right: 15px;
    transform: rotate(90deg);

    @include max-w ($sm) {
      right: 8px;
    }
  }

  .jq-selectbox__dropdown {
    background-color: $white;
    margin: 0;
    border: 1px solid $silver;
    border-radius: 0 0 6px 6px;
    box-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 1.2;
    font-size: 12px;
  }

  .jq-selectbox__dropdown ul {
    padding: 15px 9px;

    @include max-w ($sm) {
      padding: 15px 6px;
    }
  }

  .jq-selectbox li {
    color: $black-500;
    margin-bottom: 15px;
    background: none;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter-category {
  overflow: hidden;

  &--active {

    .filter-category__list {
      // height: 300px;
      // transform: translateY(0);
      border: 1px solid $silver;
      border-radius: 0 0 6px 6px;
      border-top: none;
      display: block;
    }

    .filter__btn {
      border-radius: 6px 6px 0 0;

      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  &__list {
    padding: 18px;
    overflow-y: scroll;
    height: 300px;
    // Хотел что б плавно трансформом выплывала менюшка, но там какая то непонятная проблема с высотой, можете сами попробовать, уберите display block/none, а трансформы верните
    // height: 0;
    // transform: translateY(-550%);
    // transition: transform 0.5s, height 0.7s;
    background-color: $white;
    display: none;
  }

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-size: 18px;
    line-height: 1.3;
    display: block;
  }
}

.filter-offers {
  overflow: hidden;

  &--active {

    .filter-offers__form {
      // transform: translateY(0);
      border-radius: 0 0 6px 6px;
      border-top: none;
      display: block;
    }

    .filter__btn {
      border-radius: 6px 6px 0 0;

      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  &__form {
    padding: 18px;
    border: 1px solid $silver;
    border-radius: 6px;
    background-color: $white;
    // transform: translateY(-550%);
    // transition: transform 0.5s;
    display: none;
  }
}

.filter-brands {

  &--active {

    .filter-brands__form {
      border-radius: 0 0 6px 6px;
      border-top: none;
      display: block;
    }

    .filter__btn {
      border-radius: 6px 6px 0 0;

      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  &__form {
    padding: 18px;
    border: 1px solid $silver;
    border-radius: 6px;
    background-color: $white;
    display: none;
  }
}

.filter-price {

  &--active {

    .filter-price__form {
      border-radius: 0 0 6px 6px;
      border-top: none;
      display: block;
    }

    .filter__btn {
      border-radius: 6px 6px 0 0;

      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  &__form {
    padding: 23px 18px 18px;
    border: 1px solid $silver;
    border-radius: 0 0 6px 6px;
    border-top: none;
    background-color: $white;
    display: none;
  }

  &__inputs {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__label {
    display: flex;
    align-items: center;
    margin: 0 12px;
  }

  &__input {
    width: 80px;
    height: 40px;
    background-color: $silver-100;
    border: 1px solid $silver;
    border-radius: 3px;
    margin: 0 6px;
    padding: 0 10px;
    text-align: center;
    font-size: 16px;
    line-height: 1;
    outline: transparent;

    &::placeholder {
      color: $black-500;
    }

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }
  }

  &__text {
    font-family: 'Ruda', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.2;
    color: $silver;
  }

  .irs--flat .irs-line {
    height: 2px;
    background-color: $silver;
    top: 8px;
  }

  .irs--flat {
    height: 18px;
  }

  .irs--flat .irs-bar {
    height: 2px;
    background-color: $green;
    top: 8px;
  }

  .irs--flat .irs-handle {
    top: 0;
    width: 18px;
    height: 18px;
    background-color: $green;
    border-radius: 50%;

    i {
      display: none;
    }
  }

  .irs-from,
  .irs-to,
  .irs-single {
    display: none;
  }

  .irs-min,
  .irs-max {
    display: none;
  }
}