<header class="header">
  <nav class="header__nav">

    <div class="mobile-menu">
      <div class="mobile-menu__top">
        <a class="logo logo--menu" href="#">
          <img class="logo__img" src="images/logo-green.svg" alt="логотип" width="200">
        </a>

        <button class="burger burger--mobile" type="button">
          <span class="burger__row">
          </span>
          <span class="sr-only">Закрыть меню</span>
        </button>
      </div>

      <div class="mobile-menu__box">
        <a class="entry__link" href="#">Вход</a>
        <a class="entry__link" href="#">Регистрация</a>
      </div>

      <a class="mobile-menu__link" href="#">
        <!-- вставил svg, потому что картинка сама другого цвета, что б еще не скачивать -->
        <svg>
          <use xlink:href="images/sprite.svg#icon-select-nav"></use>
        </svg>
        Каталог товаров
      </a>

      <address class="address address--mobile">
        <div class="address__info">
          <a class="address__link link-animation" href="tel:+7907288365">
            <svg>
              <use xlink:href="images/sprite.svg#icon-tel"></use>
            </svg>
            +7 907 288 365
          </a>
          <span class="address__text">
            Санкт-Петербург, ул. Ленина, 1
          </span>
        </div>

        <ul class="social">
          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <svg>
                <use xlink:href="images/sprite.svg#icon-facebook"></use>
              </svg>
              <span class="sr-only">ссылка на фейсбук</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <svg>
                <use xlink:href="images/sprite.svg#icon-youtube"></use>
              </svg>
              <span class="sr-only">ссылка на ютуб</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <svg>
                <use xlink:href="images/sprite.svg#icon-telegram"></use>
              </svg>
              <span class="sr-only">ссылка на телеграм</span>
            </a>
          </li>

          <li class="social__item">
            <a class="social__link" href="#" target="_blank">
              <svg>
                <use xlink:href="images/sprite.svg#icon-instagram"></use>
              </svg>
              <span class="sr-only">ссылка на инстаграм</span>
            </a>
          </li>
        </ul>
      </address>

      <div class="mobile-menu__bottom">
        <ul class="menu menu--mobile">
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Доставка
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              О нас
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Новости
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Контакты
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Акции
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Вакансии
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Отзывы
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link link-animation" href="#">
              Публичная оферта
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="header__top">
      <div class="container">
        <div class="header__top-inner">
          <button class="burger" type="button">
            <span class="burger__row">
            </span>
            <span class="sr-only">Открыть меню</span>
          </button>

          <address class="header__address">
            <a class="header__address-link header__address-link--address link-animation" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#icon-address"></use>
              </svg>
              адрес и время доставки
            </a>
            <a class="header__address-link header__address-link--tel link-animation" href="#">
              <svg>
                <use xlink:href="images/sprite.svg#icon-tel"></use>
              </svg>
              горячая линия 24/7
            </a>
          </address>

          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link link-animation" href="#">
                доставка
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link link-animation" href="#">
                о нас
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link link-animation" href="#">
                новости
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <div class="container">
        <div class="header__bottom-inner">

          <a class="logo" href="#">
            <!-- не знаю, правильно или нет -->
            <picture>
              <source srcset="images/logo-short.svg" media="(max-width: 768px)" width="38">
              <source srcset="images/logo.svg">
              <img srcset="images/logo.svg" alt="логотип">
            </picture>
          </a>

          <div class="header__catalog">
            <button class="header__btn" type="button">
              Каталог товаров
            </button>

            <ul class="header__list">
              <li class="header__item">
                <a class="header__link" href="#">
                  Овощи и фрукты
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Бакалея
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Молочные продукты
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Хлеб
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Мясо
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Колбаса
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Рыба
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Алкоголь
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Напитки
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Торты
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Мясо
                </a>
              </li>
              <li class="header__item">
                <a class="header__link" href="#">
                  Чай, кофе
                </a>
              </li>
            </ul>
          </div>

          <form class="header__form">
            <label class="sr-only" for="search">Введите что-то в поиск</label>
            <input class="header__form-field" type="search" id="search" name="search" placeholder="Найти в магазине ..."
              required>
            <button class="input-button input-button--mobile btn-animation" type="submit">
              поиск
            </button>
          </form>

          <ul class="user-nav">
            <li class="user-nav__item user-nav__item-search">
              <button class="user-nav__link search-btn" type="button">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-search"></use>
                </svg>
                <span class="sr-only"> открыть поиск</span>
              </button>
            </li>

            <li class="user-nav__item user-nav__item--user">
              <button class="user-nav__link" type="button">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-user"></use>
                </svg>
                <span class="sr-only"> открыть меню</span>
              </button>
            </li>

            <li class="user-nav__item user-nav__item--chosen">
              <button class="user-nav__link" type="button">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-heart"></use>
                </svg>
                <span class="sr-only">открыть избранное</span>
                <span class="user-nav__num">12</span>
              </button>
            </li>

            <li class="user-nav__item">
              <button class="user-nav__link" type="button">
                <svg>
                  <use xlink:href="images/sprite.svg#icon-cart"></use>
                </svg>
                <span class="sr-only">открыть корзину</span>
                <span class="user-nav__num">12</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </nav>
</header>