<section class="offer">
  <h2 class="sr-only">предложения</h2>
  <div class="container">
    <ul class="offer__inner">
      <li class="offer__item offer__item--long" style="background-image: url(images/offer/1.jpg);">
        <span class="offer__subtitle">
          свежайшие фрукты
        </span>

        <h3 class="offer__title">
          начни фруктовое лето
          всего от 99 ₽
        </h3>

        <a class="offer__link link-animation" href="#">
          перейти к покупкам
        </a>
      </li>

      <li class="offer__item" style="background-image: url(images/offer/2.jpg);">
        <span class="offer__subtitle">
          сезонная распродажа
        </span>

        <h3 class="offer__title">
          овощепад до -50%
        </h3>

        <a class="offer__link link-animation" href="#">
          перейти к покупкам
        </a>
      </li>

      <li class="offer__item" style="background-image: url(images/offer/3.jpg);">
        <span class="offer__subtitle">
          ням-ням
        </span>

        <h3 class="offer__title">
          свежий хлебчик
        </h3>

        <a class="offer__link link-animation" href="#">
          перейти к покупкам
        </a>
      </li>
    </ul>
  </div>
</section>