<section class="promotion" data-ref="container-2">
  <div class="container container--products">
    <h2 class="title">Акции</h2>

    <ul class="mix-filter">
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-a">
          новинки
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-b">
          хиты
        </button>
      </li>
    </ul>

    <ul class="promotion__inner">

      <li class="promotion__item mix category-a" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--new">
                новинка
              </span>
            </div>

            <img class="little-card__img" src="images/top/pineapple.jpg" width="98" alt="Ананас, 1кг">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Ананас, 1кг
              </h3>

              <span class="product-status">
                В наличии
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    999<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    1999 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-a" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--new">
                новинка
              </span>
            </div>

            <img class="little-card__img" src="images/top/coffee.jpg" width="98"
              alt="Кофе с коноплей органический Caffé Salomoni 250г">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Кофе с коноплей органический Caffé Salomoni 250г
              </h3>

              <span class="product-status product-status--end">
                заканчивается
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    999<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    1999 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-a" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--new">
                новинка
              </span>
            </div>

            <img class="little-card__img" src="images/top/strawberry.jpg" width="98" alt="Клубника, 1 кг">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Клубника, 1 кг
              </h3>

              <span class="product-status product-status--none">
                нет в наличии
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    999<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    1999 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-a" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--new">
                новинка
              </span>
            </div>

            <img class="little-card__img" src="images/top/mango.jpg" width="98" alt="Манго, 1 шт">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Манго, 1 шт
              </h3>

              <span class="product-status">
                В наличии
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    999<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    1999 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-b" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--new">
                новинка
              </span>
            </div>

            <img class="little-card__img" src="images/top/fish.jpg" width="98" alt="Лосось, 1 кг">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Лосось, 1 кг
              </h3>

              <span class="product-status">
                В наличии
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    999<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    1999 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-b" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--heat">
                хит
              </span>
            </div>

            <img class="little-card__img" src="images/top/red__juice.jpg" width="98"
              alt="Сок Granini овощной 100%, 0.5л">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Сок Granini овощной 100%, 0.5л
              </h3>

              <span class="product-status product-status--end">
                заканчивается
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    180<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    230 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-b" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--heat">
                хит
              </span>
            </div>

            <img class="little-card__img" src="images/top/basket.jpg" width="98" alt="Фруктовая корзина, 1 шт">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Фруктовая корзина, 1 шт
              </h3>

              <span class="product-status">
                В наличии
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    3990<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    5990 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

      <li class="promotion__item mix category-b" data-order="1">
        <article class="little-card">
          <a class="little-card__link" href="#">
            <div class="badges">
              <span class="badges__item badges__item--heat">
                хит
              </span>
            </div>

            <img class="little-card__img" src="images/top/meat.jpg" width="98" alt="Свинина мякоть, 1 кг">

            <div class="little-card__info">
              <h3 class="little-card__descr" href="#">
                Свинина мякоть, 1 кг
              </h3>

              <span class="product-status">
                В наличии
              </span>

              <div class="little-card__buy">
                <div class="little-card__price">
                  <span class="little-card__price-num">
                    999<span class="price-valute">₽</span>
                  </span>
                  <span class="little-card__price-num little-card__price-num--old">
                    1999 <span>₽</span>
                  </span>
                </div>

                <div class="little-card__rating">
                  <span class="little-card__rate">4.5</span>
                  <span class="little-card__star"></span>
                </div>
              </div>
            </div>
          </a>
        </article>
      </li>

    </ul>

    <button class="btn btn-animation" type="button">
      Показать еще
    </button>
  </div>
</section>