<section class="top-products" data-ref="container-1">
  <div class="container container--products">
    <h2 class="title">Топовые товары</h2>

    <ul class="mix-filter">
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter="all">
          Все товары
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-a">
          фрукты
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-b">
          овощи
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-c">
          напитки
        </button>
      </li>
      <li class="mix-filter__item">
        <button class="mix-filter__btn animation" type="button" data-filter=".category-d">
          бакалея
        </button>
      </li>
    </ul>

    <ul class="top-products__inner">

      <li class="top-products__item mix category-a" data-order="1">
        <article class="product-card">
          <div class="badges">
            <span class="badges__item badges__item--new">
              новинка
            </span>
            <span class="badges__item badges__item--discount">
              -50%
            </span>
          </div>

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/pineapple.jpg" width="265" alt="Ананас, 1кг">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Ананас, 1кг
          </h3>

          <div class="product-card__price">
            <span class="price price--old">
              1999 <span>₽</span>
            </span>
            <span class="price">
              999 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-a" data-order="1">
        <article class="product-card">

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/lemon.jpg" width="265" alt="Лимон, 1кг">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Лимон, 1кг
          </h3>

          <div class="product-card__price">
            <span class="price">
              199 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-a" data-order="1">
        <article class="product-card">
          <div class="badges">
            <span class="badges__item badges__item--heat">
              хит
            </span>
          </div>

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/dragon.jpg" width="265"
              alt="Питахайя красная с белой мякотью, 1шт">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Питахайя красная с белой мякотью, 1шт
          </h3>

          <div class="product-card__price">
            <span class="price">
              1019 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-b" data-order="1">
        <article class="product-card">
          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/ketchup.jpg" width="265"
              alt="Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Кетчуп томатный детский органический Bio-Zentrale 500мл, 1 шт
          </h3>

          <div class="product-card__price">
            <span class="price">
              600 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-b" data-order="1">
        <article class="product-card">
          <div class="badges">
            <span class="badges__item badges__item--heat">
              хит
            </span>
          </div>

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/carrot-product.jpg" width="265"
              alt="Морковь молодая с бабушкиной грядки, 1кг">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Морковь молодая с бабушкиной грядки, 1кг
          </h3>

          <div class="product-card__price">
            <span class="price">
              49 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-c" data-order="1">
        <article class="product-card">
          <div class="badges">
            <span class="badges__item badges__item--discount">
              -30%
            </span>
          </div>

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/juice.jpg" width="265"
              alt="Напиток сокосодержащий Sanpellegrino Aranciata Orange">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Напиток сокосодержащий Sanpellegrino Aranciata Orange Красный апельсин безалкогольн...
          </h3>

          <div class="product-card__price">
            <span class="price price--old">
              299 <span>₽</span>
            </span>
            <span class="price">
              199 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-c" data-order="1">
        <article class="product-card">
          <div class="badges">
            <span class="badges__item badges__item--new">
              новинка
            </span>
          </div>

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/coffee.jpg" width="265"
              alt="Кофе с коноплей органический Caffé Salomoni 250г">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Кофе с коноплей органический Caffé Salomoni 250г
          </h3>

          <div class="product-card__price">
            <span class="price">
              877 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

      <li class="top-products__item mix category-d" data-order="1">
        <article class="product-card">
          <div class="badges">
            <span class="badges__item badges__item--new">
              новинка
            </span>
            <span class="badges__item badges__item--discount">
              -50%
            </span>
          </div>

          <button class="btn-chosen" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-heart"></use>
            </svg>
            <span class="sr-only">В избранное</span>
          </button>

          <a class="product-card__link" href="#" target="_blank">
            <img class="product-card__img" src="images/top/paprik.jpg" width="265" alt="Перец оранжевый, 1кг">
            <svg>
              <use xlink:href="images/sprite.svg#icon-search"></use>
            </svg>
          </a>

          <h3 class="product-card__descr">
            Перец оранжевый, 1кг
          </h3>

          <div class="product-card__price">
            <span class="price">
              349 <span>₽</span>
            </span>
          </div>

          <button class="btn-basket btn-animation" type="button">
            <svg>
              <use xlink:href="images/sprite.svg#icon-cart"></use>
            </svg>
            <span class="sr-only">В корзину</span>
          </button>
        </article>
      </li>

    </ul>

    <button class="btn btn--white" type="button">
      Показать еще
    </button>
  </div>
</section>