.brands {
  padding: 72px 0;

  @include max-w($lg) {
    padding: 48px 0;
  }

  &__slide {
    opacity: 0.5;
    transition: opacity 0.4s;
    margin-left: 70px;
    margin-right: 70px;

    @include max-w($md) {
      margin-left: 45px;
    }

    @include max-w($sm) {
      margin-left: 55px;
    }

    @include max-w($xs) {
      margin-left: 35px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__img {
    object-fit: contain;
    max-height: 58px;
  }

  .slick-slider .slick-track {
    display: flex;
    align-items: center;
  }
}