.hero {

  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    padding-top: 140px;

    @include max-w($md) {
      height: 420px;
      padding-top: 60px;
    }

    @include max-w($sm) {
      height: 320px;
    }
  }

  &__item {
    background-color: rgba($white, 0.8);
    padding: 24px;
    border-radius: 4px;
    max-width: 1290px;
    margin: 0 auto;

    @include max-w($md) {
      padding: 15px;
      border-radius: 0;
    }
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 12px;
    max-width: 770px;
    @include clamp(3);

    @include max-w($lg) {
      font-size: 42px;
    }

    @include max-w($md) {
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 18px;
    }

    @include max-w($sm) {
      font-size: 20px;
    }
  }

  &__discount {
    color: $red;
    display: block;
  }

  &__text {
    margin-bottom: 32px;
    font-size: 16px;
    @include clamp(2);

    @include max-w($lg) {
      font-size: 14px;
      margin-bottom: 20px;
    }

    @include max-w($md) {
      margin-bottom: 28px;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($white, 0.8);
    border-radius: 6px;
    outline: transparent;
    width: 60px;
    height: 60px;
    transition: box-shadow 0.4s, background-color 0.4s;

    svg {
      width: 19px;
      height: 32px;
      fill: $black-500;
      transform: translateY(2px);
      transition: fill 0.4s;
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba($green, 0.5);
    }

    &:hover {
      background-color: $green-200;

      svg {
        fill: $green;
      }
    }

    &:active {
      background-color: rgba($white, 0.8);
      transition: 0s;

      svg {
        fill: $green;
      }
    }

    &--next {
      right: 60px;
    }

    &--prev {
      left: 60px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    font-size: 0;
    margin-left: 20px;
  }

  .slick-dots li {
    margin-right: 13px;
  }

  .slick-dots button {
    width: 12px;
    height: 12px;
    background-color: $white;
    border-radius: 50%;
    border: 1px solid $silver;
  }

  .slick-active button {
    background-color: $green;
    border: $green;
  }

  .slick-disabled {

    svg {
      fill: $silver;
    }
  }
}