.offer {
  padding-bottom: 72px;

  @include max-w($lg) {
    padding-bottom: 35px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;

    @include max-w($xl) {
      flex-wrap: wrap;
      justify-content: center;
      max-width: 680px;
      margin: 0 auto;
    }

    @include max-w($md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__item {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    border-radius: 6px;
    padding: 78px 30px 30px;
    line-height: 1;
    text-transform: uppercase;
    transition: color 0.3s, text-shadow 0.3s;

    @include max-w($xl) {
      margin: 0 7px 15px;
      max-width: 310px;
    }

    @include max-w($md) {
      margin: 0 0 15px 0;
      max-width: 630px;
    }

    @include max-w($sm) {
      padding: 78px 15px 30px;
    }

    &--long {
      max-width: 630px;
      color: $white;
      text-shadow: 2px 2px 0 rgba($black, 0.25);

      .offer__title {
        max-width: 360px;

        @include max-w($md) {
          max-width: 250px;
        }
      }

      .offer__link::before {
        background-color: $white;
      }
    }
  }

  &__subtitle {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    @include clamp;
  }

  &__title {
    font-family: 'Ruda', sans-serif;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 1.4;
    max-width: 160px;
    @include clamp(3);

    @include max-w($md) {
      font-size: 24px;
      margin-bottom: 70px;
    }
  }

  &__link {
    font-weight: 700;
    position: relative;
    outline: transparent;
    padding: 7px 2px;
    border-radius: 3px;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black-500;
      transition: background-color 0.3s;
    }

    &::after {
      @extend %area;
    }

    &:focus::before {
      content: none;
    }
  }
}